* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    gap: 16px;
    width: 100vw;
    flex: 1;
    padding: 40px 100px;

}

.header-banner {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    padding: 16px 100px;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px
}

.header {
    font-size: 24px;
    font-weight: bold;
}

.hero {
    background-color: #1f2937;
    display: flex;
}

.hero-main {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}

.small-content {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 8px;
}

button {
    background-color: #3882f6;
    padding: 4px 16px;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}

.hero-image {
    flex: 1 1 300px;
    margin-right: 16px;
    width: 50%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.gallery {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.gallery-image {
    border: 2px solid #3882f6;
    border-radius: 8px;
    flex: 1 1 25%;
    max-width: 30%;
}

.quote-container {
    background-color: #e5e7eb;
    flex-direction: column;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-source {
    margin-left: auto;
    font-weight: bold;
}

.action-box {
    background-color: #3882f6;
    border-radius: 8px;
    color: #e5e7eb;
    justify-content: space-between;
    padding: 24px 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;

}
.action {
    padding: 40px 60px;
}

.action-button {
    border: solid #e5e7eb;
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}